.SearchBar {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.container {
  position: relative;
}

input {
  all: unset;

  width: 30rem;

  font-size: 3rem;
  color: white;

  padding: 1rem 2rem;
  border-radius: 1.5rem;

  transition: all 0.1s;

  &:hover,
  &:focus {
    outline: solid 0.2rem white;
  }
}

input::placeholder {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.6);
}

.search-icon {
  color: white;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}
