.SearchBar {
  display: flex;
  justify-content: center;
  position: relative;
  width: 30vw;
}

.search-icon {
  position: absolute;
  color: white;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.SearchBar input {
  width: 100%;
  all: unset;

  font-size: 3rem;
  color: white;

  padding: 1rem 2rem;
  border-radius: 1.5rem;

  transition: all 0.1s;

  &:hover,
  &:focus {
    outline: solid 0.2rem white;
  }
}

.SearchBar input::placeholder {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.6);
}
