.Search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-wrapper {
  width: 80rem;
  min-width: 35rem;
  height: 6rem;
  background: rgb(230, 230, 230);
  border-radius: 1rem;
  position: relative;
  display: flex;
  padding-left: 1.5rem;
}

.input-wrapper input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 2rem;
}

.input-wrapper :nth-child(2) {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 1.2rem;
  right: 1rem;
}

.input-wrapper input::placeholder {
  font-size: 2rem;
}
