@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  font-size: 62.5%;
  user-select: none;
}

body {
  font-size: 16px;

  --background: #111;

  padding: 10rem 0;
  background: var(--background);

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--background);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.5rem;
  }
}

.App {
  display: grid;
  justify-content: center;
  gap: 15rem;
}
