@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  user-select: none;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;

  --background: #111;
  background: var(--background);
  height: 100vh;
  display: flex;
  justify-content: center;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--background);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.5rem;
  }
}

.App {
  padding: 10rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20rem 0;
}
