.container {
  display: flex;
  flex-direction: column;
}

.PokeList {
  display: grid;
  grid-template-columns: repeat(4, 30rem);
  gap: 20rem 5rem;
}

@media (max-width: 1440px) {
  .PokeList {
    grid-template-columns: repeat(3, 30rem);
  }
}

@media (max-width: 1080px) {
  .PokeList {
    grid-template-columns: repeat(2, 35rem);
  }
}

@media (max-width: 860px) {
  .PokeList {
    grid-template-columns: 40rem;
  }
}

@media (max-width: 540px) {
  .PokeList {
    grid-template-columns: 30rem;
  }
}
